<footer class="footer background1">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center p-4">
                Ⓒ 2021 Copyright: 
                <a class="text-reset fw-bold" href="/" >Samarth Technical Solution</a>
            </div>
        </div>
    </div>
</div>
</footer>